assignment <br>
roll no:18k41a05h1<br>
name: sunder raj<br>

1.	Develop a code for below scenario

In [21]:
year=int(input("enter the year"))
a=year%12
d={0:"monkey",1:"roaster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(d[a])

enter the year2020
rat


2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be <br>calculated as per rates given below. 
 
Input:  Distance to be travel: 520     
Weight of the goods: 50 <br>
Output: Amount to be charged: 3120 /-

In [ ]:
s=int(input("enter the distance"))
w=int(input("weight of goods"))
if s>=500:
  if w>=100:
    a=5*s
  elif w>=10 and w<100:
      a=6*s
  else:
    a=7*s
else:
  if w>=100:
    a=8*s
  else:
    a=5*s
print("amount to be charged {}".format(a))

enter the distance520
weight of goods50
amount to be charged 3120

3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given.<br> 
Input: 	Type of Seat: Circle    
Payment mode: cash<br>
Output: Cost of ticket: 675

In [1]:
s=input("enter type of seat")
pm=input("enter payment mode cash or credit card")
a=int()
if s == "stalls":
    a=625
elif s == "circle":
    a=750
elif s == "upper class":
    a=850
elif s == "box":
    a=1000
if pm == "cash":
    d=a*(10/100)
    a=a-d
elif pm == "credit card":
    d=a*5/100
    a=a-d
    
print("amount to be paid is:",a)

enter type of seatcircle
enter payment mode cash or credit cardcash
amount to be paid is: 675.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water.<br> The formula to compute the energy is <b>
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [3]:
print("enter:")
initial=int(input("initial temperature"))
final=int(input("final temperature"))
wt=int(input("amount of water in kilograms"))
q=wt*(final-initial)*4184
print("energy required is :",q,"J")

enter:
initial temperature35
final temperature60
amount of water in kilograms500
energy required is : 52300000 J

5.	Develop a program that prompts user to enter month and  print <br>
a.	“Winter ” -   December ,January and February<br>
b.	“Spring”  -   March ,April and May<br>
c.	“Summer”  --- June ,July, August<br>
d.	“Autumn ”  -- September ,October, November<br>

In [4]:

print("enter the month that you wanna know the season") 
month=input("enter a month")
if month in ["january","february","december"]:
    print(" WINTER SEASON")
elif month in ["march","april","may"]:
    print("SPRING SEASON")
elif month in ["june,july,august"]:
    print("SUMMER SEASON")
else:
    print("IT'S AUTUMN SEASAON")

#s={"december":"winter","january":"winter","february":"winter","march":"spring","april":"spring","may":"spring",
#   "june":"summer","july":"summer","august":"summer","september":"autumn","october":"autumn","november":"autumn"}
#f=input("enter the month")

#print(s[f])

which season is this???
enter a monthapril
IT'S SPRING SEASON

6.	Body Mass Index

In [5]:
weight=int(input("enter weight in pounds"))
height=float(input("enter height in inches"))
weight=weight*0.45359237
height=height*0.0254
bmi=weight/height**2
print(bmi)

enter weight in pounds200
enter height in inches5.7
4327.913694300766

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [6]:
import math 
s=int(input("enter a no. between 100 and 1000 \n"))
n=0
while(s!=0):
    r=s%10
    n=math.floor(n+r)
    s=s/10
print(n)

enter a no. between 100 and 1000
356
14

8.	Print all palindrome numbers between 1 to 1000.

In [11]:
c=0 
s=0
p=0
for i in range(1,1000,1):
    n=i
    t=n
    s=0
    while(n!=0):
        r=n%10
      
        s=r+(s*10)
        n=n//10

    if(t==s):
      print("t=",t,"s=",s)
      print(s,"is a palindrome")

t= 1 s= 1
1 is a palindrome
t= 2 s= 2
2 is a palindrome
t= 3 s= 3
3 is a palindrome
t= 4 s= 4
4 is a palindrome
t= 5 s= 5
5 is a palindrome
t= 6 s= 6
6 is a palindrome
t= 7 s= 7
7 is a palindrome
t= 8 s= 8
8 is a palindrome
t= 9 s= 9
9 is a palindrome
t= 11 s= 11
11 is a palindrome
t= 22 s= 22
22 is a palindrome
t= 33 s= 33
33 is a palindrome
t= 44 s= 44
44 is a palindrome
t= 55 s= 55
55 is a palindrome
t= 66 s= 66
66 is a palindrome
t= 77 s= 77
77 is a palindrome
t= 88 s= 88
88 is a palindrome
t= 99 s= 99
99 is a palindrome
t= 101 s= 101
101 is a palindrome
t= 111 s= 111
111 is a palindrome
t= 121 s= 121
121 is a palindrome
t= 131 s= 131
131 is a palindrome
t= 141 s= 141
141 is a palindrome
t= 151 s= 151
151 is a palindrome
t= 161 s= 161
161 is a palindrome
t= 171 s= 171
171 is a palindrome
t= 181 s= 181
181 is a palindrome
t= 191 s= 191
191 is a palindrome
t= 202 s= 202
202 is a palindrome
t= 212 s= 212
212 is a palindrome
t= 222 s= 222
222 is a palindrome
t= 232 s= 232
232 is a palindrome
t= 242 s= 242
242 is a palindrome
t= 252 s= 252
252 is a palindrome
t= 262 s= 262
262 is a palindrome
t= 272 s= 272
272 is a palindrome
t= 282 s= 282
282 is a palindrome
t= 292 s= 292
292 is a palindrome
t= 303 s= 303
303 is a palindrome
t= 313 s= 313
313 is a palindrome
t= 323 s= 323
323 is a palindrome
t= 333 s= 333
333 is a palindrome
t= 343 s= 343
343 is a palindrome
t= 353 s= 353
353 is a palindrome
t= 363 s= 363
363 is a palindrome
t= 373 s= 373
373 is a palindrome
t= 383 s= 383
383 is a palindrome
t= 393 s= 393
393 is a palindrome
t= 404 s= 404
404 is a palindrome
t= 414 s= 414
414 is a palindrome
t= 424 s= 424
424 is a palindrome
t= 434 s= 434
434 is a palindrome
t= 444 s= 444
444 is a palindrome
t= 454 s= 454
454 is a palindrome
t= 464 s= 464
464 is a palindrome
t= 474 s= 474
474 is a palindrome
t= 484 s= 484
484 is a palindrome
t= 494 s= 494
494 is a palindrome
t= 505 s= 505
505 is a palindrome
t= 515 s= 515
515 is a palindrome
t= 525 s= 525
525 is a palindrome
t= 535 s= 535
535 is a palindrome
t= 545 s= 545
545 is a palindrome
t= 555 s= 555
555 is a palindrome
t= 565 s= 565
565 is a palindrome
t= 575 s= 575
575 is a palindrome
t= 585 s= 585
585 is a palindrome
t= 595 s= 595
595 is a palindrome
t= 606 s= 606
606 is a palindrome
t= 616 s= 616
616 is a palindrome
t= 626 s= 626
626 is a palindrome
t= 636 s= 636
636 is a palindrome
t= 646 s= 646
646 is a palindrome
t= 656 s= 656
656 is a palindrome
t= 666 s= 666
666 is a palindrome
t= 676 s= 676
676 is a palindrome
t= 686 s= 686
686 is a palindrome
t= 696 s= 696
696 is a palindrome
t= 707 s= 707
707 is a palindrome
t= 717 s= 717
717 is a palindrome
t= 727 s= 727
727 is a palindrome
t= 737 s= 737
737 is a palindrome
t= 747 s= 747
747 is a palindrome
t= 757 s= 757
757 is a palindrome
t= 767 s= 767
767 is a palindrome
t= 777 s= 777
777 is a palindrome
t= 787 s= 787
787 is a palindrome
t= 797 s= 797
797 is a palindrome
t= 808 s= 808
808 is a palindrome
t= 818 s= 818
818 is a palindrome
t= 828 s= 828
828 is a palindrome
t= 838 s= 838
838 is a palindrome
t= 848 s= 848
848 is a palindrome
t= 858 s= 858
858 is a palindrome
t= 868 s= 868
868 is a palindrome
t= 878 s= 878
878 is a palindrome
t= 888 s= 888
888 is a palindrome
t= 898 s= 898
898 is a palindrome
t= 909 s= 909
909 is a palindrome
t= 919 s= 919
919 is a palindrome
t= 929 s= 929
929 is a palindrome
t= 939 s= 939
939 is a palindrome
t= 949 s= 949
949 is a palindrome
t= 959 s= 959
959 is a palindrome
t= 969 s= 969
969 is a palindrome
t= 979 s= 979
979 is a palindrome
t= 989 s= 989
989 is a palindrome
t= 999 s= 999
999 is a palindrome

9.	Print all Armstrong numbers between 1 to 1000.

In [13]:
import math as mt
c=0 
s=0
p=0
for i in range(1,1000,1):
    n=i
    t=n
    s=0
    while(n!=0):
        r=n%10
        s=s+(r*r*r)
        n=n//10 
    if(t==s):
      print("t=",t,"s=",s)
      print(s,"is a armstrong number")

t= 1 s= 1
1 is a armstrong number
t= 153 s= 153
153 is a armstrong number
t= 370 s= 370
370 is a armstrong number
t= 371 s= 371
371 is a armstrong number
t= 407 s= 407
407 is a armstrong number

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five.<br> When number is divided by both three and five, print "fizz buzz".

In [19]:
for i in range(1,101):
  if(i%3==0 and i%5==0):
    print("fizz buzz")
  elif(i%3==0):
    print("fizz")
  elif(i%5==0):
    print("buzz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.<br>
Example 1:<br>
 	Input:       200 50 1<br>						Ouput : 5
						   
	Example 2:<br>
 	Input:500 20 15			<br>				Output :98

In [20]:
h=int(input('Enter height of the well: '))
u=int(input('distance-climbs up: '))
d=int(input('distance-slips down: '))
s=int((h-u)/(u-d))
s=s+2
print(s)

Enter height of the well: 200
distance-climbs up: 50
distance-slips down: 1
5