#name:sundhar rollno:18K41A05H1

1.Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
s1=int(input("enter the length"))
s2=int(input("enter the breadth"))
s3=int(input("enter the height"))
s=int(s1+s2+s3)/2
area=(s*(s-s1)*(s-s2)*(s-s3))**(1/2)
print("area of a triangle {}".format(area))

enter the length5
enter the breadth6
enter the height4
area is 9.921567416492215

2.TAKE A STRING FROM END USER AND CHECK IF THE VALUE IS PALINDROME OR NOT.

In [ ]:
s=input("enter the string:")
s=s.lower()
if s ==s[::-1]:
  print("it is palindrome")
else:
  print("it is not a palindrome")

enter the string:parampro
it is not a palindrome

3.	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
def checkYear(year): 
    if (year % 4) == 0: 
        if (year % 100) == 0: 
            if (year % 400) == 0: 
                return True
            else: 
                return False
        else: 
             return True
    else: 
        return False 
year =int(input("enter the year"))
if(checkYear(year)): 
    print("yes it is a Leap Year") 
else: 
    print("Not a Leap Year")

enter the year2020
yes it is a Leap Year

4.SPACE TO HYPHEN PROBLEM: Take a string as input, and replaces spaces " " with hyphens "-", and returns a string.

In [ ]:
s=input("enter the string with spaces")
w=s.split(" ")
r="-".join(w)
print(r)

enter the string with spacesThis program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

*5.UNIQUE SORT PROBLEM Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form(alphanumerically)

In [ ]:
str3=input("enter a string separated by commas")
sp=str3.split(',')
l=list(sp)
l.sort()
f=",".join(l)
print(f)

enter a string separated by commasorange, white, red, cyan, green, magenta, cyan, pink, white
 cyan, cyan, green, magenta, pink, red, white, white,orange

6.TAX CALCULATOR Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount. Print the result.

In [ ]:
sal=int(input("enter the monthly salary"))
year=sal*12
t=0
if year<250000:
  print("no tax is to be paid")
elif 250001<=year<=500000:
    t=year*5/100
elif 500001<=year<=750000:
    t=year*10/100
elif 750001<=year<=100000:
    t=year*15/100
elif 1000001<=year<=1250000:
    t=year*20/100
elif 1250001<=year<=1500000:
    t=year*25/100
else:
    t=year*30/100
print("the tax to be paid:",t)

enter the monthly salary33333
the tax to be paid: 19999.8

7.TAKE A LIST OF INTEGERS AS AN ARGUMENT, AND CONVERTS IT INTO A SINGLE INTEGER ( RETURN THE INTEGER)

In [ ]:
list1=[93,81,41,79,60]
integer=" "
for i in range(0,len(list1),1):
    integer=integer+str(list1[i])
integer1=int(integer)
print(integer1)

9381417960

8.UNITS OF TIME Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
days=int(input("enter no. of days"))
hr=int(input("enter no. of hrs"))
min=int(input("enter no. of mins"))
sec=int(input("enter no. of secs"))
total=sec+(min*60)+(hr*3600)+(days*86400)
print("total number of seconds:",total)

enter no. of days1
enter no. of hrs4
enter no. of mins10
enter no. of secs5
total number of seconds: 101405

9.SORT 3 INTEGERS Given 3 integers (given through user input), sort the numbers using |min| and |max| functions.

In [1]:
ls=[]
s=int(input("enter 1st value"))
s1=int(input("enter 2nd value"))
s2=int(input("enter 3rd value"))
ls.append(s)
ls.append(s1)
ls.append(s2)
print("given values are:",ls)
ls.sort()
print("after sorting:",ls)
print('max value:',max(ls))
print('min value:',min(ls))

enter 1st value10
enter 2nd value5
enter 3rd value2
given values are: [10, 5, 2]
after sorting: [2, 5, 10]
max value: 10
min value: 2

10.Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [4]:
date=input("enter date in YYYY-MM-DD format")
date_ls=date.split("-")
d_lst=[]
year=int(date_ls[0])
month=int(date_ls[1])
date1=int(date_ls[2])

def checkYear(year):
    if (year % 4) == 0: 
        if (year % 100) == 0: 
            if (year % 400) == 0: 
                return True
            else: 
                return False
        else: 
             return True
    else: 
        return False 
m1=[4,6,9,11]
if date1==30 and month in m1:
    date1=1
    month=month+1
elif date1==28 and month==2 and checkYear(year):
    date1=29
elif date1==28 and month==2 and checkYear(year)==0:
    date1=1
    month=month+1
elif date1==30 and month not in m1:
    date1=31
elif date1==31 and month==12:
    year=year+1
    month=1
    date1=1
elif date1==31 and month!=12:
    month=month+1
    date1=1
else:
    date1=date1+1

up_date=[]
d_lst.append(str(year))
d_lst.append(str(month))
d_lst.append(str(date1))
up_date="-".join(d_lst)
print(up_date)

enter date in YYYY-MM-DD format2020-04-02
2020-4-3

11.COMPUTE PRODUCT OF A LIST OF NUMBERS [45,3,2,89,72,1,10,7]

In [8]:
l=[45,3,2,89,72,1,10,7]
nu=1
for i in range(0,len(l),1):
    nu=nu*l[i]
print(nu)

121111200

12.COMPUTE GIVEN NUM_LIST = [5,6,8,34,89,1] TO GET DESIRED OUTPUT OUTPUT:OUT_LST=[11,14,42,123,90]

In [9]:
l=[5,6,8,34,89,1]
s=[]
a=0
for i in range(0,len(l)-1,1):
    a=0
    a=l[i]+l[i+1]
    s.append(a)
print(s)

[11, 14, 42, 123, 90]

13.COMPUTE GIVEN NUM_TUPLE = (5,6,8,3,9,1) TO GET DESIRED OUTPUT OUTPUT: OUT_LST=[5,30,240,720,6480,6480]

In [10]:
l=(5,6,8,3,9,1)
s=list(l)
s1=[]
m=s[0]
s1.append(m)
for i in range(0,len(s)-1,1):
    m=m*s[i+1]
    s1.append(m)
print(s1)

[5, 30, 240, 720, 6480, 6480]

14.WRITE A PYTHON CODE THAT TAKES A NUMBER AND RETURNS A LIST OF IT'S DIGITS. SO FOR 586392 IT SHOULD RETURN [5,8,6,3,9,2]

In [15]:
s=int(586392)
res = [int(x) for x in str(s)] 
print(res)

[5, 8, 6, 3, 9, 2]

15.WRITE A PROGRAM THAT FINDS THE LONGEST PALINDROMIC SUBSTRING OF A GIVEN STRING.

In [4]:
st=input("enter a string")
s=[]
l=1
ct=0
rs=""
for i in range(0,len(st),1):
    for j in range(i+1,len(st)):
        if st[i:j] == st[j:i:-1]:
            if len(st[i:j])>l:
                l=len(st[i:j])
                rs=st[i:j+1]
                ct=1
                   
if ct==1:
                   print(rs)
else:
    print(-1)

enter a stringmaamhlomaam
maam

16.SUBSTRING CHECK ( BUG FUNNY ) Given two binary strings, A(of length 10) and B(of length 5), output 1 if B is a substring of A and 0 otherwise First two lines of input: 1010110010 10110 1110111011 10011 First two lines of output: 1 0

In [16]:
s1=input("enter a string length of 10")
s2=input("enter a string length of 5")
a=s1.find(s2)
if a== -1:
    print(0)
else:
    print(1)

enter a string length of 101010110010
enter a string length of 510110
1

17.POUR1-Pouring Water Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.

At the beginning both vessels are empty. The following operations are counted as steps: emptying a vessel filling a vessel pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty

In [1]:
# minimum number of steps required to measure 
# d litre water using jugs of m liters and n  
# liters capacity. 
def gcd(a, b): 
    if b==0: 
        return a 
    return gcd(b, a%b) 
  
  
''' fromCap -- Capacity of jug from which 
              water is poured 
   toCap   -- Capacity of jug to which 
              water is poured 
   d       -- Amount to be measured '''
def Pour(toJugCap, fromJugCap, d): 
  
  
    # Initialize current amount of water 
    # in source and destination jugs 
    fromJug = fromJugCap 
    toJug  = 0
  
    # Initialize steps required 
    step = 1
    while ((fromJug  is not d) and (toJug is not d)): 
  
          
        # Find the maximum amount that can be 
        # poured 
        temp = min(fromJug, toJugCap-toJug) 
  
        # Pour 'temp' liter from 'fromJug' to 'toJug' 
        toJug = toJug + temp 
        fromJug = fromJug - temp 
  
        step =  step + 1
        if ((fromJug == d) or (toJug == d)): 
            break
  
        # If first jug becomes empty, fill it 
        if fromJug == 0: 
            fromJug = fromJugCap 
            step =  step + 1
  
        # If second jug becomes full, empty it 
        if toJug == toJugCap: 
            toJug = 0
            step =  step + 1
              
    return step 
  
# Returns count of minimum steps needed to 
# measure d liter 
def minSteps(n, m, d): 
    if m> n: 
        temp = m 
        m = n 
        n = temp 
          
    if (d%(gcd(n,m)) is not 0): 
        return -1
      
    # Return minimum two cases: 
    # a) Water of n liter jug is poured into 
    #    m liter jug 
    return(min(Pour(n,m,d), Pour(m,n,d))) 
  
# Driver code 
if __name__ == '__main__': 
  
    n = 3
    m = 5
    d = 4
  
    print('Minimum number of steps required is', minSteps(n, m, d))

Minimum number of steps required is 6